{% extends "layout.html" %}
{% block title %}
Student Info
{% endblock %}

<!-- -------------------------------------------------------------------- -->

{% block css %}

{% endblock %}

<!-- -------------------------------------------------------------------- -->

{% block content%}
<div class="container">
    <!-- student code start -->
    {% if student_error_msg %}
    <h1>{{student_error_msg}}</h1>
    {% else %}
    <h1>Student Info</h1>
    <br/>
    <br/>
    <p>Id: {{student.uid}}</p>
    <br/>
    <p>Username: {{student.username}}</p>
    <br/>
    <p>Password: {{student.password}}</p>
    <br/>
    <p>Email: {{student.email}}</p>
    <br/>
    {% endif %}
    <!-- student code end -->
</div>
{% endblock%}

<!-- -------------------------------------------------------------------- -->

{% block js %}

{% endblock %}